div.newspublisher {
    margin-left:10em;
}

div.newspublisher label {
    width: 10em;
    text-align: left;
    margin-right: 0.5em;
    margin-bottom: 3px;
    margin-top:2px;
    padding:0;
    padding-top:0px;
    display: block;
    font-weight: bold;
}
div.newspublisher legend {
   font-weight: bold;
   padding:0px 6px 0px 6px;
}
div.newspublisher input {
    width:20em;
}
div.newspublisher p.error {
    font-weight: bold;
    color: red;
}
form p.errormessage {
    margin-top:15px;
    margin-bottom:0px;
    padding:0;
    padding-top:15px;
    font-weight: bold;
    color: red;
}
div.newspublisher input.submit {
    width:8em;
}
div.newspublisher input.checkbox {
    width:2em;
}
div.newspublisher input.radio {
    width:2em;
}

div.newspublisher fieldset {
    margin:20 0 0 0;
    padding:5px 5px 10px 10px;
}
fieldset p {
  margin:0;
  padding: 0;
}
fieldset select {
  width:10em;
  margin:0;
  padding: 0;
}
fieldset option {
  margin:0;
  padding: 0;
}
fieldset.np-tv-radio {
   width:10em;
}
fieldset.np-tv-checkbox {
   width:10em;
}
fieldset.np-tv-listbox {
   width:10em;
}
fieldset.np-tv-listbox-multiple {
   width:10em;
}

fieldset.np-tv-text {
   width:10em;
}
fieldset.np-tv-textbox {
   width:10em;
}
fieldset.np-tv-email {
   width:10em;
}