div.newspublisher {
    margin-left:10em;
    font-family: arial, sans-serif;
}

div.newspublisher label {
    width: 10em;
    text-align: left;
    margin: 12px 5px 3px 0px;
    padding:0;
    display: block;
    font-weight: bold;
}

div.newspublisher textarea {
    font-family: arial, sans-serif;
    width:60em;
    height:10em;
    display:block;
}
div.newspublisher span.buttons {
    display:block;
}
/* you can size a partcular textarea or textarea (mini) TV
   by using its name like this:
div.newspublisher textarea#MyTv6 {
    width:10em;
    height:5em;
}

*/
div.newspublisher span.option {
    display:block;
}
div.newspublisher legend {
   font-weight: bold;
   padding:0px 6px 0px 6px;
}
div.newspublisher input {
    font-family: arial, sans-serif;
    width:20em;
    display:inline;
}
div.newspublisher p.error {
    font-weight: bold;
    color: red;
}

span.errormessage {
    color:red;
    font-weight: bold;
    display:block;
    margin:5px 0px 5px 0px;
    padding:0;
}
span.fielderrormessage {
    color:red;
    font-weight: bold;
    display:block;
    margin:20px 0px 0px 0px;
    padding:0;
}
div.newspublisher input.submit {
    display:inline;
    margin: 30px;
    padding:0;
    width:8em;
}
div.newspublisher input.cancel {
    display:inline;
    margin: 30px;
    padding:0;
    width:8em;
}
div.newspublisher input.checkbox {
    width:2em;
}
div.newspublisher input.radio {
    width:2em;
}

div.newspublisher fieldset {
     display: block;
    padding:5px 5px 10px 10px;
    margin:10px 0px 0px 0px;
}
fieldset p {
  margin:0;
  padding: 0;
}
fieldset select {
  width:10em;
  margin:0;
  padding: 0;
}
fieldset option {
  margin:0;
  padding: 0;
}
fieldset.np-tv-radio {
   width:10em;
}
fieldset.np-tv-checkbox {
   width:10em;
}
fieldset.np-tv-listbox {
   width:10em;
}
fieldset.np-tv-listbox-multiple {
   width:10em;
}

fieldset.np-tv-text {
   width:10em;
}
fieldset.np-tv-textbox {
   width:10em;
}
fieldset.np-tv-email {
   width:10em;
}